.notification {
    display: flex;
    justify-content: center;
}

.notification > * {
    width: 48%;
    margin: 15px;
}

.notice_content,
.event_content {
    display: flex;
    flex-direction: column;
    background: var(--Nuetrals100);

    border-radius: 5px;
    padding: 10px;
}

.notice_info,
.event_info {
    display: flex;
    justify-content: space-between;
}

.font-style {
    color: var(--Brand);
}
